@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.full-width-height, html, body, .container, .container .home, .container .home .filter, .container .home .bg {
  height: 100%;
  width: 100%;
}

.container {
  max-width: none;
  overflow: hidden;
}

.container .home {
  transition: height .4s ease-in-out;
}

.container .home .filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.container .home .bg {
  background-image: url("../images/street.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container .home .bg > a {
  position: absolute;
  top: 10px;
  left: 10%;
  z-index: 1;
  color: #ceb15a;
}

.container .home .bg > a h1 {
  margin: 0;
  font-size: 30px;
}

.container .home .bg > a i {
  cursor: pointer;
  color: inherit;
}

.container .home .bg > a#profile {
  transition: all .3s linear;
  font-size: 20px;
}

.container .home .bg nav {
  line-height: initial;
  background: transparent;
  box-shadow: none;
  transition: all .3s linear;
  top: 50%;
  position: absolute;
}

.container .home .bg nav > div {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.container .home .bg nav > div a {
  display: inline-block;
  color: #ceb15a;
  margin: 0 8%;
}

.container .home .bg nav > div a i {
  line-height: initial;
  height: auto;
  display: block;
  font-size: 40px;
}

.container .home .bg nav > div a.click {
  margin: 0 3%;
}

.container .home .bg nav > div a.click i, .container .home .bg nav > div a.click span {
  display: none;
}

.container .home .bg nav > div a.fade {
  opacity: .5;
}

.container .home .bg nav > div a.fade.focus {
  opacity: 1;
}

.container .home .bg nav.active {
  top: 0;
  line-height: 64px;
}

.container aside {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 100%;
  transition: all .1s linear;
  background-color: #fff;
}

.container aside.active {
  top: 64px;
  animation-name: navAnimate;
  -webkit-animation-name: navAnimate;
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  z-index: 1;
}

.container aside > div {
  max-width: 80%;
  margin: auto;
}

/*********** MEDIA ************/
@media screen and (max-width: 600px) {
  .container .home .bg nav {
    top: 40%;
  }
  .container .home .bg nav > div a {
    margin: 14%;
  }
  .container .home .bg nav.active {
    display: none;
  }
  .container .home .bg .profile {
    text-align: center;
  }
  .container .home .bg > a {
    right: 10%;
  }
  .container aside.active {
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
  }
}

/************ KEYFRAMES ************/
@-webkit-keyframes navAnimate {
  0% {
    top: 100%;
  }
  50% {
    top: 35px;
  }
  100% {
    top: 64px;
  }
}
@keyframes navAnimate {
  0% {
    top: 100%;
  }
  50% {
    top: 35px;
  }
  100% {
    top: 64px;
  }
}
