@import 'app';

.full-width-height{
  height: 100%;
  width: 100%;
}

html, body, .container {
  @extend .full-width-height;
}

.container {
  max-width: none;
  overflow: hidden;
  @extend .full-width-height;

  .home {
    @extend .full-width-height;
    transition: height .4s ease-in-out;
    .filter {
      position: absolute;
      background-color: rgba(36,119,173, .7);
      @extend .full-width-height;
    }

    .bg {
      background-image: url("../images/laptop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      @extend .full-width-height;

      > a {
          position: absolute;
          top: 10px;
          left: 10%;
          z-index: 1;

          h1 {
            margin: 0;
            color: #fff;
            font-size: 20px;
          }
      }


      nav {
        line-height: initial;
        background: transparent;
        box-shadow: none;
        transition: all .3s linear;
        top: 80%;
        position: absolute;

        > div {
          text-align: center;
          width: 80%;
          margin: auto;

          a {
            margin: 0 8%;
            display: inline-block;

            i {
              line-height: initial;
              height: auto;
              display: block;
              font-size: 40px
            }

            &.click {

              i, span {
                display: none;
              }

              margin: 0 3%;
            }
          }
        }
      }
    }
  }

  aside {
    height: calc(100% - 64px);
    overflow-y: auto;
    position: fixed;
    top: 100%;
    transition: all .3s linear;
    background-color: #fff;

    &.active {
      top: 64px;
    }
  }
}