@import 'app';

.full-width-height{
  height: 100%;
  width: 100%;
}

/************************  GLOBAL  *****************************/
* {
  font-family: 'Raleway', sans-serif;
}
aside * {
  color: #666;
}

p {
  font-size: 18px;
  line-height: 40px;
}


html, body, .container {
  @extend .full-width-height;
}

.container {
  max-width: none;
  overflow: hidden;
  @extend .full-width-height;

/*********** NAV ************/
  .home {
    @extend .full-width-height;
    transition: height .4s ease-in-out;

    .filter {
      position: absolute;
      background-color: rgba(0,0,0, .7);
      @extend .full-width-height;
    }

    .bg {
      background-image: url("../images/street.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @extend .full-width-height;

      > a {
        z-index: 1;
        position: relative;

        &.profile {
          position: absolute;
          top: 10px;
          left: 10%;
          color: #ceb15a;
        }

        h1 {
          margin: 0;
          font-size: 35px;
          transition: all .3s linear;
        }

        i {
          cursor: pointer;
          color: inherit;
          font-size: 20px;
          transition: all .3s linear;
        }

        &.profile {

          h1 {
            font-size: 22px;
          }

          i {
            font-size: 14px;
          }
        }
      }

      nav {
        line-height: initial;
        background: transparent;
        box-shadow: none;
        transition: all .3s linear;
        top: 50%;
        position: absolute;

        &#sideBar {
          position: fixed;
          top: 0;
          height: 100%;
          left: 0;
          width: 100%;
          transform: translateX(-100%);
          background-color: #fff;
          z-index: 2;

          &.collapse {
            transform: translateX(0);
          }
        }

        > div {
          text-align: center;
          max-width: 80%;
          margin: auto;

          a {
            display: inline-block;
            color: #ceb15a;
            margin: 0 8%;

            i {
              line-height: initial;
              height: auto;
              display: block;
              font-size: 40px
            }

            &.click {

              i, span {
                display: none;
              }

              margin: 0 3%;
            }

            &.fade {
              opacity:.8;
            }

            &.fade.focus {
              opacity: 1;
            }
          }
        }

        &.active {
          top: 0;
          line-height: 64px;
        }
      }
    }
  }
}


aside {
  position: fixed;
  margin: auto;
  overflow-x: hidden ;
  background-color: #fff;
  height: 100%;
  top: 100%;

  @extend .full-width-height;

  &.up {
    top: 64px;
    background-color: #fff;
    -webkit-animation-name: asideAnimateTop;
    -webkit-animation-duration: 1s;
    z-index: 1;
  }

  &.down {
    -webkit-animation-name: asideAnimateDown;
    -webkit-animation-duration: 1s;
  }

  > div {
    width: 80%;
    margin: auto;
  }
}


@media screen and (max-width: 600px) {
  .container {
    .home {
      .bg {
        > span {
          &.custom-btn-collapse {
            display: block;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;

            > i {
              font-size: 30px !important;
              color: #ceb15a;
            }
          }
        }
        nav {
          &.hide-on-collapse {
            display: none;
          }

          &#sideBar {
            .navAClick {
              display: block;
              font-weight: 600;
              text-align: center;
            }

            > .nav-content {
              position: absolute;
              top: 64px;
              max-width: none;
              width: 100%;
            }

          }
          &.nav-collapse {
            top: 40%;

            a {
              margin: 10%;
            }
          }
        }
      }
    }
  }

}
@keyframes asideAnimateTop {
  0% {top: 100%}
  60% { top: 48px}
  100%  {top:64px}
}
@keyframes asideAnimateDown {
  0% {top: 64px}
  100%  {top:100%}
}





/*************************** About *****************************/
#aboutme {
  .prof-img {
    padding: 0;
    width: 150px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}



#closeSidebar {
  color: #ddd;
}